<h1>Point inside Polygon Home Page</h1>

  <%= link_to "Link to list of FSA Polygons Delivery Zones", polygons_path%><br><br>
  <%= link_to "Link to list of Addresses", places_path%><br><br>
  <%= link_to "Link to list of Delivery days", deliveries_path%><br><br>

