<h1>Point inside Polygon Home Page</h1>

  <%= link_to "Link to list of FSA Polygons Delivery Zones", polygons_path%><br><br>
  <%= link_to "Link to list of Addresses", places_path%><br><br>
  <%= link_to "Link to list of Delivery Days", weekdays_path%><br><br>
  <%= link_to "Link to list of Time slots", time_slots_path%><br><br>
 

